* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Muli', Calibri, 'Trebuchet MS', sans-serif;
}

.blocklyText, .blocklyHtmlInput, .blocklyTreeLabel {
    font-family: 'Muli', Calibri, 'Trebuchet MS', sans-serif !important;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
    height: 48px;
}

#header h1 {
    margin: 0 32px 0 0;
}

#header button {
    font-family: 'Muli', Calibri, 'Trebuchet MS', sans-serif;
    height: 32px;
    width: 64px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    margin: 0 8px;
}

#flexContainer {
    display: flex;
    align-items: stretch;
    height: calc(100% - 48px);
}

#console {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    overflow: scroll;
    word-wrap: break-word;
    padding: 0 1em;
}

#console p::before {
    content: "> ";
}

.help {
    background-color: yellow;
}

@media all and (orientation: landscape) {
    #flexContainer {
        flex-direction: row;
    }
    #blocklyDiv, #console {
        width: 50%;
    }
}

@media all and (orientation: portrait) {
    #flexContainer {
        flex-direction: column;
    }
    #blocklyDiv, #console {
        height: 50%;
    }
}

