* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Niramit', Calibri, 'Trebuchet MS', sans-serif;
}

.blocklyText, .blocklyHtmlInput, .blocklyTreeLabel {
    font-family: 'Niramit', Calibri, 'Trebuchet MS', sans-serif !important;
}

#header {
    padding: 0 1em;
    height: 48px;
}

#header h1 {
    margin: 0;
}

#flexContainer {
    display: flex;
    align-items: stretch;
    height: calc(100% - 48px);
}

#console {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    overflow: scroll;
    padding: 0 1em;
}

#console p::before {
    content: "> ";
}

@media all and (orientation: landscape) {
    #flexContainer {
        flex-direction: row;
    }
    #blocklyDiv, #console {
        width: 50%;
    }
}

@media all and (orientation: portrait) {
    #flexContainer {
        flex-direction: column;
    }
    #blocklyDiv, #console {
        height: 50%;
    }
}

